.uiselect__text {
    height: 100%;
    display: flex;
    align-items: flex-end;
    margin-left: 2px;
    flex-grow: 1;
    flex-basis: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.uiselect__container {
    display: flex;
    padding-right: 8px;
    cursor: pointer;
}

.uiselect__dropdownItem {
    text-align: left;
    cursor: pointer;
    min-height: 32px;
    display: flex;
    align-items: center;
    padding: 0 8px;
    font-size: 14px;
}

.uiselect__dropdownItem:hover {
    /* font-size: 13px; */
    text-decoration: underline;
    text-decoration-color: gray;
    /* background-color: #bbbbdd; */
}