LOG_LEVEL=DEBUG

# Conexión como cliente
IP_MEMORY=127.0.0.1
PUERTO_MEMORY=8001

# Servidor para CPU e IO
PUERTO_ESCUCHA=8000

# Parámetros de planificación [cite: 177, 180]
PLANIFICATION_ALGORITHM=CMN
QUEUES_ALGORITHMS=[FIFO,RR,RR,FIFO]
RR_QUANTUM=1500
QUEUE_PREEMPTION=FALSE
SUSPENSION_TIMEOUT=3000